*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #437F97;
}
h1{
    font-size: 5rem;
    text-align: center;
    color: white;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 65vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.7vmin;
}
.box{
    height: 20vmin;
    width: 20vmin;
    border: none;
    border-radius: 10px;
    font-size: 5rem;
    color: #c48f6b;
    background-color: #621B00;
    cursor: pointer;
}
.box:hover{
    background-color: #8f2800ec;
}
.reset{
    padding: 1.2rem;
    font-size: 1.6rem;
    background-color: #945600;
    margin-left: 43%;
    border-radius: 10px;
    cursor: pointer;
}
.reset:hover , #new-btn:hover{

        background-image: linear-gradient(to right, #c48f6b, #945600);
        background-size: 200% 100%;
        background-position: 100% 0;
        transition: background-position 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
    animation: pulse 0.5s linear;
  }
#new-btn{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #b96e04;
    margin-left: 45%;
    border-radius: 10px;
    color: #01295F;
}
.hide{
    display: none;
}
.matchturn{
  color: #fff;
}
.msg{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
}
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

@media (max-width: 860px) {
  h1{
    font-size: 4rem;
  }
  .reset{
    margin-left: 38%;
  }
}
@media (max-width: 780px) {
    .reset, #new-btn{
      margin-left: 37%;
      padding: 1rem;
    }
  }
  @media (max-width: 600px) {
    .container{
        height: 60vh;
    }
    .reset, #new-btn{
      margin-left: 35%;
      padding: 1rem;
    }
  }
@media (max-width:458px) {
    .container{
        height: 55vh;
    }
    h1{
        font-size: 2.8rem;
    }
    .reset, #new-btn{
        margin-left: 30%;
        padding: 0.5rem;
    }
    .box{
        font-size: 3.5rem;
    }
    
}